#version = "1.0";

# ------------------------------------------------------------
# Base configuration
# ------------------------------------------------------------

mission:
{
    description = "Unknown datsaet";

    locale = "Begbroke";
    
    lasers = ( 
    {
        name = "LMS1xx_10420001";
        transform = { x=-0.67; y=3.3; z=0.4; r=-8; p=0.0; q=0.0; };
        frequency = 50.0;
    }, 
    { 
        name = "LMS1xx_10420002";
        transform = { x=0.67; y=3.3; z=0.4; r=8; p=0.0; q=0.0; };
        frequency = 50.0;
    }
    );

};

# ------------------------------------------------------------
# Common estimation parameters
# ------------------------------------------------------------

estimation:
{
    laser:
    {
        horizontal = "LMS1xx_10420001";
        declined   = "LMS1xx_10420002";
    };

    culling = "Far";
};



