mission : 
{
  description = "Synthetic dataset";
  locale = "Fictional";
  lasers = ( 
    {
      name = "laser_0_lms151";
      transform : 
      {
        x = 0.0;
        y = 0.0;
        z = 0.0;
        r = 0.0;
        p = 0.0;
        q = 0.0;
      };
    }, 
    {
      name = "laser_0_lms151";
      transform : 
      {
        x = 0.0;
        y = 0.0;
        z = 0.0;
        r = 0.0;
        p = 0.0;
        q = 0.0;
      };
    } );
};
estimation : 
{
  laser : 
  {
    horizontal = "laser_0_lms151";
    declined = "laser_0_lms151";
  };
};
