#version = "1.0";

datum:
{
    description = "Begbroke parameters";
    
    X = {
        lower = 616648.701255;
        upper = 616874.977458;
    };
    
    Y = {
        lower = 5742069.101970; 
        upper = 5742285.315770;
    };

    calibrated:
    {
        X = {
            lower = 616463.250000;
            upper = 616963.250000;
        };
        
        Y = {
            lower = 5741942.00000; 
            upper = 5742442.00000;
        };


    };

    bluesky:
    {
        X = {
            lower = 616457.75;
        };
        
        Y = {
            upper = 5742437.5;
        };


    };

};

