#version = "1.0";

map:
{
    osgb:
    { 
        #origin = { x=0.0; y=0.0; };
        resolution = { x=0.125; y=-0.125; };
        origin = { x=447635.6875; y=213780.1875; };
        #transform = { x=.66; y=3.3; z=0; r=0.00; p=0.00; q=0.00; };
   
        nw = ; 
    
    };

    utm:
    {


    };

};

